{% extends 'base.html' %}
{% block content %}
<h4 class="mb-4">Quản lý nghỉ phép</h4>
<table class="table table-hover table-bordered bg-white">
  <thead class="table-primary">
    <tr>
      <th>Nhân viên</th><th>Loại phép</th>
      <th>Từ ngày</th><th>Đến ngày</th>
      <th>Số ngày</th><th>Lý do</th><th>Trạng thái</th><th></th>
    </tr>
  </thead>
  <tbody>
    {% for r in requests %}
    <tr>
      <td>{{ r.full_name }}</td>
      <td>{{ r.type_name }}</td>
      <td>{{ r.start_date }}</td>
      <td>{{ r.end_date }}</td>
      <td>{{ r.days_requested }}</td>
      <td>{{ r.reason }}</td>
      <td>
        {% if r.status == 'Approved' %}
          <span class="badge bg-success">Approved</span>
        {% elif r.status == 'Rejected' %}
          <span class="badge bg-danger">Rejected</span>
        {% else %}
          <span class="badge bg-warning text-dark">Pending</span>
        {% endif %}
      </td>
      <td>
        {% if r.status == 'Pending' %}
          <a href="/leave/approve/{{ r.leave_id }}" class="btn btn-sm btn-success">Duyệt</a>
          <a href="/leave/reject/{{ r.leave_id }}"  class="btn btn-sm btn-danger">Từ chối</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}